.App {
  font-family: sans-serif;
  text-align: center;
}

.react-grid-HeaderCell-sortable--ascending {
  color: blue !important;
}

.react-grid-HeaderCell-sortable--descending {
  color: red !important;
}
